## 1. while 문

In [ ]:
# 기본 구문

value = 1

while value <= 5:
    print(value)
    value += 1

print("------------------------")
print(value)

In [ ]:
# 1부터 10중에 홀수만 출력 : while문 안에 if문 

value = 1

while value <= 10:
    if value % 2 == 1:
        print(value)
        
    value += 1

In [ ]:
# 1에서 100까지 더해서 합한 결과 출력하기
# value가 10의 배수인 경우만 합한 결과 출력하기

value = 1
total = 0
total2 = 0

while value <= 100:
    total = total + value
    
    #print(value, total)
    
    if value % 10 == 0:
        total2 += value
        #print(value, total2)        
        
    value += 1
    
print(total)    
print(total2)

In [ ]:
# 사용자로부터 숫자를 입력받아요 (1~4)
# 입력메세지
""" 1. Add
2. Del
3. List
4. Quit
Enter Number : 
"""
# 입력받은 값이 4인 경우가 아니면 계속 반복해서 입력받기

prompt = """1. Add
2. Del
3. List
4. Quit
Enter Number : 
"""
num = 0

while num != 4 :
    num = int(input(prompt))
    print(num)
    
print("종료")

## 2. for 문

In [ ]:
# 기본 구문

set_a = {'c', 'b', 'a'}

for item in set_a:
    print(item)

In [ ]:
# 반복 횟수만 필요할때

list_a = [1, 2, 3]

num = 0
for item in list_a:
    num += 1
    print(num)

In [ ]:
# 튜플일 경우 반복문

list_a = [(1, 2), (3, 4), (5, 6)]

for item in list_a:
    print(item)
    
for k, v in list_a:
    print(k, v)

In [ ]:
# 딕셔너리일 경우 반복문

dict_a = { "fruit":"apple", "int_num":10, "float_num":3.5, "gubun":True }

for item in dict_a.items():
    print(item)
    
for k, v in dict_a.items():
    print(k, v)

In [ ]:
# for문 예제
# 시험점수 리스트 생성 : 45, 65, 75, 55, 85
# 시험점수가 60점 이상이면 합격, 그 외 불합격 출력
# "0번 학생 00점으로 합격/불합격입니다."

points = [45, 65, 75, 55, 85]
num = 0

# 1) + 연산자 포매팅
for point in points:
    num += 1
    if point >= 60:
        print(str(num) + "번 학생 " + str(point) + "점으로 합격입니다.")
    else:
        print(str(num) + "번 학생 " + str(point) + "점으로 불합격입니다.")
        
# 2) 표식 연산자 포매팅        
for point in points:
    num += 1
    if point >= 60:
        print("%d번 학생 %d점으로 합격입니다." % (num, point))
    else:
        print("%d번 학생 %d점으로 불합격입니다."% (num, point))

# 3) format 메서드 포매팅        
for point in points:
    num += 1
    if point >= 60:
        print("{}번 학생 {}점으로 합격입니다.".format(num, point))
    else:
        print("{}번 학생 {}점으로 불합격입니다.".format(num, point))

# 4) f 문자열 포매팅        
for point in points:
    num += 1
    if point >= 60:
        print(f"{num}번 학생 {point}점으로 합격입니다.")
    else:
        print(f"{num}번 학생 {point}점으로 불합격입니다.")

## 3. continue

In [ ]:
points = [45, 65, 75, 55, 85]
num = 0

for point in points:
    num += 1
    
    if point < 60:
        continue
        
    print("%d번 학생 %d점으로 합격입니다." % (num, point))   
    
# if point >= 60:
#     print("%d번 학생 %d점으로 합격입니다." % (num, point))

## 4. break

In [ ]:
# 합격자수 2명만 출력

points = [45, 65, 75, 55, 85]
num = 0
hap = 0

for point in points:
    num += 1
    
    if point >= 60:
        hap += 1   
        print("%d번 학생 %d점으로 합격입니다." % (num, point))  
    
    if hap >= 2:
        break

In [ ]:
# 1에서 100까지 합산하되 합한 값이 100보다 큰 경우 합산 종료

number = 1
sum = 0

while number <= 100:
    sum += number
    if sum >= 100:
        break
    number += 1

print(number, sum)

In [ ]:
# 커피 자판기 예제 : while문 사용
# 커피 재료 : 10잔, 돈이 300원 (한잔당 10원)
# 커피 1잔 -> 9잔, 돈은 290원

# 커피가 소진될 경우 "커피가 모두 소진되었습니다. 판매 중단합니다." 종료
# 남은 돈이 없을 경우 "돈이 없습니다." 종료
# 커피도 있고, 돈도 있을 경우 "커피를 제공합니다." 출력

# 남은돈은 00이고, 남은 커피는 00잔입니다.

num = 0
coffee = 10
money = 300

while True:
    coffee = coffee - 1
    money = money - 10
    num += 1
    #print(coffee, money)
    
    if coffee < 0:
        print("커피가 모두 소진되었습니다. 판매 중단합니다.")
        break
    
    if money < 0:
        print("돈이 없습니다.")
        break
    print()
    print("커피를 제공합니다.")
    print("남은돈은 %d이고, 남은 커피는 %d잔입니다."%(money, coffee))

## 5. range

In [ ]:
# end 값만 존재
print(range(10))
print(list(range(10)))

# start, end 값 존재
print(list(range(1,11)))

# start, end, step 값 존재
print(list(range(1,11,2)))

# step - 값
print(list(range(10,0,-1)))

In [ ]:
# for문에서 사용
for i in range(10):
    print(i)

In [ ]:
# for문에 range로 반복할 경우

points = [45, 65, 75, 55, 85]

for num in range(len(points)):
    print(num)

In [ ]:
# 삼각형 출력

# *
# **
# ***
# ----------
# **********

for i in range(1,11):
    print("*" * i)

In [ ]:
# 역삼각형 출력

#          *
#         **
#        ***

# **********

for i in range(1,11):
    print(" "*(10-i) + "+"*i)

## 6. 이중루프

In [ ]:
# 구구단 
# 2단 : for문

for j in range(1,10):
    print("2 * %d = %d"%(j, 2 * j))   
    
print("-----------------------------")
print("2 * 1 = 2")
print("2 * 2 = 4")
print("2 * 3 = 6")
print("2 * 9 = 18")

In [ ]:
# 3단 : for문

for j in range(1,10):
    print("3 * %d = %d"%(j, 3 * j))

In [ ]:
# 4단 : for문

for j in range(1,10):
    print("4 * %d = %d"%(j, 4 * j))

In [ ]:
# 구구단 최종본
for i in range(2,10):
    print("------- %d 단 -------"% i)
    
    for j in range(1,10):
        print("%d * %d = %d"%( i, j, i * j))

In [ ]:
# 이중리스트 이중루프로 요소 가져오기

lista = [(1,2,3), ('a','b')]

for item in lista:
    print(item)
    for value in item:
        print(value)

### 7. 리스트 컴프리헨션

In [ ]:
# for문으로 작성
# list_a = [1, 2, 3, 4, 5] -> 
# list_a의 요소를 각각 3씩 곱해서 list_b 생성 : [3, 6, 9, 12, 15]

list_a = [1, 2, 3, 4, 5]
list_b = []

for item in list_a:
    if item % 2 == 0:
        list_b.append(item * 3)

print(list_b)

In [ ]:
# 리스트 컴프리헨션 이용

list_a = [1, 2, 3, 4, 5]
list_b =[ item * 3 for item in list_a ]

print(list_b)

In [ ]:
# 리스트 컴프리헨션 이용 : if문 추가

list_a = [1, 2, 3, 4, 5]
list_b =[ item * 3 for item in list_a if item % 2 == 0]

print(list_b)

In [ ]:
# 리스트 컴프리헨션 이용 : if ~ else문 추가

list_a = [1, 2, 3, 4, 5]
list_b =[ item * 3 if item % 2 == 0 else 0 for item in list_a ]

print(list_b)